<div *ngIf="loginService.isUserLoggedIn()" class="container" >

    <div class="input-group">
        <input type="text" [(ngModel)]="inputValue" placeholder="Nowe zadanie" (keydown)=onKeyDownEvent($event) class="form-control">
        <input type="text" [(ngModel)]="priorityValue" placeholder="Priorytet" (keydown)=onKeyDownEvent($event) class="form-control">
        <input type="text" [(ngModel)]="inputDescription" placeholder="Opis zadania" (keydown)=onKeyDownEvent($event) class="form-control">

        <button type="button" class="btn btn-primary" (click)="handleClick()">Dodaj</button>
        <button type="button" class="btn btn-primary" (click)="removeCompletedTasks()">Usuń zrobione</button>
    </div>
      
    <hr>

    <div class="card-columns">
        <div class="card" *ngFor="let task of list">
            <div *ngIf="task.completed; else notCompleted">

                <div class="card-header">
                    <s>{{ task.name }}</s>
                </div>
                <div class="card-body">
                    <s>
                        <p class="card-text"> {{ task.description }} </p>
                    </s>
                    <button type="button" class="btn btn-primary" (click)="remove(task)">Usuń</button>
                </div>

            </div>
            <ng-template #notCompleted>

                <div class="card-header">
                    {{ task.name }}
                </div>
                <div class="card-body">
                    <p class="card-text"> {{ task.description }} </p>
                    <button type="button" class="btn btn-primary" (click)="markAsCompleted(task)">Zrobione</button>
                    <button type="button" class="btn btn-primary" (click)="remove(task)">Usuń</button>
                    <button type="button" class="btn btn-primary" (click)="editTask(task)">Edytuj</button>
                </div>

            </ng-template>

        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="showStatistics()">Generuj statystyki</button>
</div>


<div class="container">
    <br />

</div>



<div class="container">
    <div class="row">
        <div class="col" *ngIf="isListValid(highList)">
            <h5>Najważniejsze na dziś</h5>
            <br />
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let task of highList">
                    {{ task.name }}
                </li>
            </ul>
        </div>
        <div class="col" *ngIf="isListValid(mediumList)">
            <h5>Mniej ważne</h5>
            <br />
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let task of mediumList">
                    {{ task.name }}
                </li>
            </ul>
        </div>
        <div class="col" *ngIf="isListValid(lowList)">
            <h5>Przy okazji</h5>
            <br />
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let task of lowList">
                    {{ task.name }}
                </li>
            </ul>
        </div>
    </div>



</div>